* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  overflow-x: hidden;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,900;1,400&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,800;1,500;1,600&display=swap');
.active{
  color: #20C997 !important;
}
.Sidebar {
  position: fixed;
  height: 100%;
  width: 25%;
  background-color: #111418;
  padding: 20px 3rem;
  list-style: none;
  overflow-y: scroll;
}

.Sidebar li {
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 400;
}

.Sidebar img {
  margin: 1rem auto auto auto;
  height: 200px;
  border: 10px solid grey;
  border-radius: 50%;
  padding: 0;
  width: 250px;
}

.Sidebar a {
  color: #ffffff;
  text-decoration: none;
}
/* .icon {
  display: none;
} */
.fa-bars{
  display: none;
  color: #000;
  font-size: 24px;
}
.fa-times{
  color: #000;
  font-size: 24px;
}
.nav{display: block;}
.right{
  right: 0 !important;
}
.response-nav {
      z-index: 99;
      position: fixed;
      right: -100%;
      top: 0;
      display: block;
      display: grid;
      background: #8cdede;
      width: 50%;
      height: 100%;
      
  }
 

.Rightbar {
  width: 100%;
  /* background-color: #111418; */
}

#tsparticles{
  position: absolute;
  z-index: -99;
}

.con{
  text-align: center;
}
.con h2{
  font-size: 38px;
  text-align: center;
  padding: 8rem 0 2rem 0;
  font-weight: 500;
  color: #fff;
}
.con Button{
  border: 2px solid #20C997;
  border-radius: 25px;
  padding: 10px 28px;
  margin-top: 2rem;
  background: #111418;
  color: #20C997;
  font-size: 16px;
  font-weight: 500;
}
.wrapper{
  display: flex;
  padding: 0 15rem;
}
.wrapper .static-txt{
  color: #fff;
  font-size: 60px;
  font-weight: bold;
}
.wrapper .dynamic-txts{
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #ffffff;
  font-size: 60px;
  font-weight: bold;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #111418;
  border-left: 2px solid #ffffff;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}
.drop i{
  color: #fff;
  font-size: 28px;
  animation: drop 2s linear infinite;
}
@keyframes drop {
  0%
  {
    transform: translateY(0px);
  }
  100%
  {
    transform: translateY(45px);
  }
  
}
.php{
  display: flex;
  justify-content: space-around;
}
.photos
{
  display: flex;
  margin-bottom: 4rem;
}
.photos {
  position: relative;
  width: 300px;
  height: 400px;
  background: #111418;
  border-radius: 8px;
  overflow: hidden;
}
.photos::before{
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 300px;
  height: 400px;
  background: linear-gradient(0deg,transparent,#20C997,#20C997);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}
.photos::after{
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 300px;
  height: 400px;
  background: linear-gradient(0deg,transparent,#20C997,#20C997);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}
.photos .first{
  position: absolute;
  inset: 2px;
  z-index: 10;
  border-radius: 8px;
}

@keyframes animate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.first a{
  position: absolute;
  top: 13rem;
  left: 5rem;
  text-decoration: none;
  background: #000;
  color: #fff;
  font-size: 16px;
  padding: 11px;
  border-radius: 10px;
  border: 2px solid #20C997;
}

.butt{
  font-size: 14px;
  padding: 10px 20px;
}

.container h1 {
  font-size: 7rem;
  padding: 2rem 0;
  opacity: .1;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.container h2 {
  position: absolute;
  top: 73px;
  padding-bottom: 5px;
  font-size: 32px;
  font-weight: 500;
  left: 40%;
  /* border-bottom: 2px solid green; */
}

.container h2::after {
  content: '';
  height: 3px;
  width: 30%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  background: #20C997;
}

.row .abright {
  padding: 2rem 4rem;
  line-height: 32px;
}

.row .ableft {
  padding: 2rem 1rem;
  list-style: none;
}

.ableft li {
  line-height: 40px;
  border-bottom: 1px solid grey;
}
.ableft a{
  border-radius: 12px;
  margin-top: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: #fff;
}
.services{
  padding: 2rem;
}
.services i {
  background: #0e0000;
  font-size: 30px;
  padding: 20px;
  color: #20C997;
  margin: auto;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.9s;
}
.services i:hover{
  transform: rotateY(360deg);
}
.services ul {
  list-style: none;
}
.rest{
  padding: 1rem 2rem;
}
.one{
  background: #111418;
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem 0 2rem 0;
}
.one p{
  display: inline-block;
  background: #20C997;
  border-radius: 5%;
  padding: 7px;
}
.input input{
  padding: 10px;
  border-radius: 10px;
  background-color: #272a2e;;
}
textarea{
background-color: #272a2e;
padding: 7px;
border-radius: 10px;
}

.add{
  list-style: none;
}
.add li{
  font-size: 15px;
  margin: auto auto auto -2rem;
  line-height: 32px;
}
.add li i{
  color: #20C997;
}
.social{
  margin: auto auto auto -2rem;
}
.social li{
 display: inline;
 padding: 10px;
 font-size: 20px;
}
.social li i{
  color: grey !important;
}
.notes .last{
  border: 1px solid #20C997;
  margin: 0 25%;
  border-radius: 18px;
}
.skill-box{
  width: 100%;
  margin: 25px 0;
}
.skill-box .title{
  display: block;
  font-size: 24px;
  color:#fff;
  font-weight: 500;
}
.skill-box .skill-bar{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0, 0, 0, 0.1);
}
.skill-box .skill-per{
  position: relative;
  display: block;
  width: 95%;
  height: 100%;
  border-radius: 6px;
  background: #20C997;
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}
.skill-per.html{
  width: 90%;
  animation-delay: 0.1s;
}
.skill-per.css{
  width: 80%;
  animation-delay: 0.2s;
}
.skill-per.javascript{
  width: 60%;
  animation-delay: 0.3s;
}
.skill-per.react{
  width: 70%;
  animation-delay: 0.2s;
}
.skill-per.bootstrap{
  width: 75%;
  animation-delay: 0.2s;
}
.skill-per.figma{
  width: 80%;
  animation-delay: 0.2s;
}
@keyframes progress {
  0%{
    width: 0;
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}
.skill-per .tool{
  position: absolute;
  right: -14px;
  top: -34px;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
  background: #20C997;
  z-index: 1;
}
.tool::before{
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background-color: #20C997;
  transform: translateX(-50%) rotate(45deg);
}





